.content-wrapper {
  margin-right: 20px;
  .heading {
    background: rgb(7, 28, 11);
    background: linear-gradient(
      90deg,
      rgba(7, 28, 11, 1) 0%,
      rgba(32, 134, 55, 1) 100%
    );
    color: #fff;
    padding: 14px 15px 5px;
    margin-top: 20px;
    border-radius: 10px;
    h2 {
      font-size: 24px;
      font-weight: 600;
    }
  }
  .table-modify {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-top: 30px;
    border-radius: 10px;
    .employee-img {
      width: 50px;
      border-radius: 10px;
    }
    .task,
    .description {
      width: 400px;
    }

    td {
      font-size: 14px;
      font-weight: 600;
      .update-btn {
        margin-right: 5px;
        border: none;
        background: green;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
      }
      .delete-btn {
        border: none;
        background: red;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
      }
    }
  }
}
