//Attendence
.apply-attendance-wrapper {
  background: #d9eddc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 10px;
  img {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  h6 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
  }
  label {
    font-weight: 600;
    margin-bottom: 20px;
  }
  input,
  select {
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .attendance-submit-btn {
    background: green;
    color: #fff;
    margin-top: 10px;
    border: none;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
.pagination {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.pagination-btn {
  background-color: #071c0b;
  color: #fff;
  border: 1px solid #37f42e;
  padding: 5px 10px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  outline: none;
  font-size: 10px;
}

// .pagination-btn:hover {
//   background-color: green;
//   border-color: green;
// }

.pagination-btn:disabled {
  background-color: #bdc3c7;
  color: #7f8c8d;
  border-color: #bdc3c7;
  cursor: not-allowed;
}

.active {
  background-color: #37f42e;
  color: #071c0b;
  border-color: #071c0b;
}
