.login-register {
  height: 100vh;
  width: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1139%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M-110.84 -33.16 a77.68 77.68 0 1 0 155.36 0 a77.68 77.68 0 1 0 -155.36 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-88.91 -55.1 a33.81 33.81 0 1 0 67.62 0 a33.81 33.81 0 1 0 -67.62 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-86.6 -57.4 a29.2 29.2 0 1 0 58.4 0 a29.2 29.2 0 1 0 -58.4 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1463.01 96.99 a337.98 337.98 0 1 0 675.96 0 a337.98 337.98 0 1 0 -675.96 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1530.38 29.61 a203.23 203.23 0 1 0 406.46 0 a203.23 203.23 0 1 0 -406.46 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1569.56 -9.55 a124.89 124.89 0 1 0 249.78 0 a124.89 124.89 0 1 0 -249.78 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-174.56 894.56 a205.12 205.12 0 1 0 410.24 0 a205.12 205.12 0 1 0 -410.24 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-154.92 874.92 a165.84 165.84 0 1 0 331.68 0 a165.84 165.84 0 1 0 -331.68 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-96.51 816.51 a49.02 49.02 0 1 0 98.04 0 a49.02 49.02 0 1 0 -98.04 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1612.3 811.7 a39.4 39.4 0 1 0 78.8 0 a39.4 39.4 0 1 0 -78.8 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1627.72 796.28 a8.56 8.56 0 1 0 17.12 0 a8.56 8.56 0 1 0 -17.12 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1558.59 865.42 a146.83 146.83 0 1 0 293.66 0 a146.83 146.83 0 1 0 -293.66 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1139'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-regsiter-content-wrapper {
  margin: 0;
  padding: 0;
  background-image: url("../../assets/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.login-regsiter-right-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
}

.login-regsiter-right-content input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #ebebeb;
}
.login-regsiter-right-content input:focus {
  border: none;
}
.login-regsiter-left-content h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0px;
}

.login-regsiter-left-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-regsiter-right-content h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.login-regsiter-right-content .input-wrapper {
  position: relative;
}

.login-regsiter-right-content .input-wrapper i {
  position: absolute;
  top: 12px;
  right: 10px;
  color: #145725;
  font-size: 20px;
}

.login-register-btn {
  background: #145725;
  color: #fff;
  width: 140px;
  border: none;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.login-register-btn:hover {
  background: #073a13;
}
.login-register-btn i {
  transition: 0.3s;
  background: #fff;
  color: #205722;
  padding: 5px 7px;
  border-radius: 5px;
}

.login-register-navigation a {
  color: #145725;
  font-weight: 600;
  text-decoration: none;
}
