.contacts-container-wrapper {
  width: 15vw;
  display: flex;
  justify-content: space-between;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2500' height='2500' preserveAspectRatio='none' viewBox='0 0 2500 2500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1333%26quot%3b)' fill='none'%3e%3crect width='2500' height='2500' x='0' y='0' fill='rgba(7%2c 28%2c 11%2c 1)'%3e%3c/rect%3e%3cpath d='M243 2500L2743 0L4193.5 0L1693.5 2500z' fill='url(%26quot%3b%23SvgjsLinearGradient1334%26quot%3b)'%3e%3c/path%3e%3cpath d='M2459 2500L-41 0L-722 0L1778 2500z' fill='url(%26quot%3b%23SvgjsLinearGradient1335%26quot%3b)'%3e%3c/path%3e%3cpath d='M1108.9569035734726 2500L2500 1108.9569035734726L2500 2500z' fill='url(%26quot%3b%23SvgjsLinearGradient1334%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 2500L1391.0430964265274 2500L 0 1108.9569035734726z' fill='url(%26quot%3b%23SvgjsLinearGradient1335%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1333'%3e%3crect width='2500' height='2500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1334'%3e%3cstop stop-color='rgba(35%2c 61%2c 40%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(35%2c 61%2c 40%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1335'%3e%3cstop stop-color='rgba(35%2c 61%2c 40%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(35%2c 61%2c 40%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-position: right;
  background-size: cover;
  border-right: 1px solid #198754;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  flex-direction: column;
}

.logo-contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin: 10px 0px;
}

.logo img {
  width: 180px;
}

.logo button {
  background: #37f42e;
  border: none;
  padding: 2px 8px;
  border-radius: 5px;
}

.logo button i {
  color: #071c0b;
}

.contacts-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-info {
  position: relative;
  background: #d9eddc;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 1px 10px;
  gap: 10px;
  margin: 6px 0px;
  width: 100%;
  cursor: pointer;
}

.user-info.selected {
  background: #37f42e;
  border: 1px solid #198754;
}

.user-info img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.user-info h6 {
  font-size: 12px;
  color: #071c0b;
  margin-top: 7px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status {
  position: absolute;
  bottom: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 25px;
  border: 1px solid #071c0b;
}

.status.online {
  background-color: #28a745; /* Green for online */
}

.status.offline {
  background-color: #6c757d; /* Gray for offline */
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.name-img-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 8px;
  border-radius: 5px;
  background: #d9eddc;
  width: 85%;
}

.name-img-wrapper img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid #198754;
}

.name-img-wrapper h6 {
  font-size: 12px;
  color: #071c0b;
  margin-top: 7px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-info button {
  width: 15%;
  background: #37f42e;
  padding: 4px 0px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.unread-count {
  background-color: #071c0b;
  color: #198754;
  font-size: 10px;
  padding: 2px 8px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  font-weight: 700;
  right: 10px;
  border: 2px solid #198754;
}

/* Media Queries */
@media (max-width: 1440px) {
  .contacts-container-wrapper {
    width: 25vw;
  }
}
/* Media Queries */
@media (max-width: 1024px) {
  .contacts-container-wrapper {
    width: 30vw;
  }
}
@media (max-width: 768px) {
  .contacts-container-wrapper {
    width: 45vw;
  }
}
@media (max-width: 768px) {
  .contacts-container-wrapper {
    width: 45vw;
  }
}
@media (max-width: 615px) {
  .unread-count {
    background-color: #091e0d;
    color: #d9eddc;
    font-size: 10px;
    padding: 0px 6px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    font-weight: 700;
    right: 4px;
    border: 2px solid #071c0b;
  }
  .contacts-container-wrapper {
    width: 33vw;
  }
  .logo img {
    width: 65px;
  }
  .name-img-wrapper {
    width: 75%;
    gap: 5px;
  }
  .profile-info button {
    width: 25%;
    padding: 1px 4px;
    i {
      font-size: 14px;
    }
  }
  .name-img-wrapper img {
    width: 20px;
    height: 20px;
  }
  .name-img-wrapper h6 {
    font-size: 8px;
  }
  .user-info img {
    width: 20px;
    height: 20px;
  }

  .user-info h6 {
    font-size: 8px;
  }
  .logo button {
    padding: 5px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 12px;
    }
  }
}
