.contacts-container-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='440' height='1560' preserveAspectRatio='none' viewBox='0 0 440 1560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1034%26quot%3b)' fill='none'%3e%3crect width='440' height='1560' x='0' y='0' fill='rgba(7%2c 28%2c 11%2c 1)'%3e%3c/rect%3e%3cpath d='M10.43 183.66L75.38 221.16L75.38 296.16L10.43 333.66L-54.52 296.16L-54.52 221.16zM10.43 408.66L75.38 446.16L75.38 521.16L10.43 558.66L-54.52 521.16L-54.52 446.16zM75.38 521.16L140.34 558.66L140.34 633.66L75.38 671.16L10.43 633.66L10.43 558.66zM10.43 858.66L75.38 896.16L75.38 971.16L10.43 1008.66L-54.52 971.16L-54.52 896.16zM10.43 1308.66L75.38 1346.16L75.38 1421.16L10.43 1458.66L-54.52 1421.16L-54.52 1346.16zM140.34 183.66L205.29 221.16L205.29 296.16L140.34 333.66L75.38 296.16L75.38 221.16zM205.29 971.16L270.25 1008.66L270.25 1083.66L205.29 1121.16L140.34 1083.66L140.34 1008.66zM140.34 1533.66L205.29 1571.16L205.29 1646.16L140.34 1683.66L75.38 1646.16L75.38 1571.16zM270.25 -41.34L335.2 -3.84L335.2 71.16L270.25 108.66L205.29 71.16L205.29 -3.84zM335.2 71.16L400.15 108.66L400.15 183.66L335.2 221.16L270.25 183.66L270.25 108.66zM270.25 858.66L335.2 896.16L335.2 971.16L270.25 1008.66L205.29 971.16L205.29 896.16zM335.2 971.16L400.15 1008.66L400.15 1083.66L335.2 1121.16L270.25 1083.66L270.25 1008.66zM270.25 1083.66L335.2 1121.16L335.2 1196.16L270.25 1233.66L205.29 1196.16L205.29 1121.16zM335.2 1196.16L400.15 1233.66L400.15 1308.66L335.2 1346.16L270.25 1308.66L270.25 1233.66zM270.25 1308.66L335.2 1346.16L335.2 1421.16L270.25 1458.66L205.29 1421.16L205.29 1346.16zM270.25 1533.66L335.2 1571.16L335.2 1646.16L270.25 1683.66L205.29 1646.16L205.29 1571.16zM400.15 -41.34L465.11 -3.84L465.11 71.16L400.15 108.66L335.2 71.16L335.2 -3.84zM400.15 183.66L465.11 221.16L465.11 296.16L400.15 333.66L335.2 296.16L335.2 221.16zM400.15 408.66L465.11 446.16L465.11 521.16L400.15 558.66L335.2 521.16L335.2 446.16zM465.11 521.16L530.06 558.66L530.06 633.66L465.11 671.16L400.15 633.66L400.15 558.66zM400.15 858.66L465.11 896.16L465.11 971.16L400.15 1008.66L335.2 971.16L335.2 896.16zM400.15 1083.66L465.11 1121.16L465.11 1196.16L400.15 1233.66L335.2 1196.16L335.2 1121.16z' stroke='rgba(31%2c 32%2c 31%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2.93 183.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM67.88 221.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM67.88 296.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM2.93 333.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-62.02 296.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-62.02 221.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM2.93 408.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM67.88 446.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM67.88 521.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM2.93 558.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-62.02 521.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-62.02 446.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM132.84 558.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM132.84 633.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM67.88 671.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM2.93 633.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM2.93 858.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM67.88 896.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM67.88 971.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM2.93 1008.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-62.02 971.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-62.02 896.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM2.93 1308.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM67.88 1346.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM67.88 1421.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM2.93 1458.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-62.02 1421.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-62.02 1346.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM132.84 183.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM197.79 221.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM197.79 296.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM132.84 333.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM197.79 971.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM262.75 1008.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM262.75 1083.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM197.79 1121.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM132.84 1083.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM132.84 1008.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM132.84 1533.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM197.79 1571.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM197.79 1646.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM132.84 1683.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM67.88 1646.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM67.88 1571.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM262.75 -41.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM327.7 -3.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM327.7 71.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM262.75 108.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM197.79 71.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM197.79 -3.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM392.65 108.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM392.65 183.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM327.7 221.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM262.75 183.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM262.75 858.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM327.7 896.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM327.7 971.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM197.79 896.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM392.65 1008.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM392.65 1083.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM327.7 1121.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM327.7 1196.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM262.75 1233.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM197.79 1196.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM392.65 1233.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM392.65 1308.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM327.7 1346.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM262.75 1308.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM327.7 1421.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM262.75 1458.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM197.79 1421.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM197.79 1346.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM262.75 1533.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM327.7 1571.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM327.7 1646.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM262.75 1683.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM392.65 -41.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM457.61 -3.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM457.61 71.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM457.61 221.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM457.61 296.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM392.65 333.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM327.7 296.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM392.65 408.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM457.61 446.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM457.61 521.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM392.65 558.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM327.7 521.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM327.7 446.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM522.56 558.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM522.56 633.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM457.61 671.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM392.65 633.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM392.65 858.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM457.61 896.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM457.61 971.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM457.61 1121.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM457.61 1196.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(31%2c 32%2c 31%2c 1)'%3e%3c/path%3e%3cpath d='M39.57 -9.43L82.87 15.57L82.87 65.57L39.57 90.57L-3.73 65.57L-3.73 15.57zM39.57 140.57L82.87 165.57L82.87 215.57L39.57 240.57L-3.73 215.57L-3.73 165.57zM39.57 590.57L82.87 615.57L82.87 665.57L39.57 690.57L-3.73 665.57L-3.73 615.57zM82.87 665.57L126.18 690.57L126.18 740.57L82.87 765.57L39.57 740.57L39.57 690.57zM39.57 890.57L82.87 915.57L82.87 965.57L39.57 990.57L-3.73 965.57L-3.73 915.57zM169.48 65.57L212.78 90.57L212.78 140.57L169.48 165.57L126.18 140.57L126.18 90.57zM126.18 290.57L169.48 315.57L169.48 365.57L126.18 390.57L82.87 365.57L82.87 315.57zM126.18 890.57L169.48 915.57L169.48 965.57L126.18 990.57L82.87 965.57L82.87 915.57zM126.18 1040.57L169.48 1065.57L169.48 1115.57L126.18 1140.57L82.87 1115.57L82.87 1065.57zM126.18 1340.57L169.48 1365.57L169.48 1415.57L126.18 1440.57L82.87 1415.57L82.87 1365.57zM256.08 665.57L299.38 690.57L299.38 740.57L256.08 765.57L212.78 740.57L212.78 690.57zM299.38 -9.43L342.69 15.57L342.69 65.57L299.38 90.57L256.08 65.57L256.08 15.57zM299.38 140.57L342.69 165.57L342.69 215.57L299.38 240.57L256.08 215.57L256.08 165.57zM299.38 290.57L342.69 315.57L342.69 365.57L299.38 390.57L256.08 365.57L256.08 315.57zM299.38 440.57L342.69 465.57L342.69 515.57L299.38 540.57L256.08 515.57L256.08 465.57zM299.38 740.57L342.69 765.57L342.69 815.57L299.38 840.57L256.08 815.57L256.08 765.57zM429.29 65.57L472.6 90.57L472.6 140.57L429.29 165.57L385.99 140.57L385.99 90.57zM385.99 140.57L429.29 165.57L429.29 215.57L385.99 240.57L342.69 215.57L342.69 165.57zM385.99 440.57L429.29 465.57L429.29 515.57L385.99 540.57L342.69 515.57L342.69 465.57zM429.29 515.57L472.6 540.57L472.6 590.57L429.29 615.57L385.99 590.57L385.99 540.57zM385.99 590.57L429.29 615.57L429.29 665.57L385.99 690.57L342.69 665.57L342.69 615.57zM385.99 740.57L429.29 765.57L429.29 815.57L385.99 840.57L342.69 815.57L342.69 765.57zM429.29 1415.57L472.6 1440.57L472.6 1490.57L429.29 1515.57L385.99 1490.57L385.99 1440.57zM515.9 215.57L559.2 240.57L559.2 290.57L515.9 315.57L472.6 290.57L472.6 240.57zM515.9 515.57L559.2 540.57L559.2 590.57L515.9 615.57L472.6 590.57L472.6 540.57zM472.6 590.57L515.9 615.57L515.9 665.57L472.6 690.57L429.29 665.57L429.29 615.57zM515.9 1415.57L559.2 1440.57L559.2 1490.57L515.9 1515.57L472.6 1490.57L472.6 1440.57zM472.6 1490.57L515.9 1515.57L515.9 1565.57L472.6 1590.57L429.29 1565.57L429.29 1515.57z' stroke='rgba(32%2c 32%2c 32%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1034'%3e%3crect width='440' height='1560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  border-right: 2px solid #198754;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  flex-direction: column;

  .logo-contacts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      margin: 20px 0px;
      img {
        width: 200px;
      }
    }

    .contacts-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .user {
        position: relative;
        background: #d9eddc;
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 0px 10px;
        gap: 10px;
        margin: 10px 0px;
        width: 100%;
        cursor: pointer;

        img {
          height: 25px;
          width: 25px;
          border-radius: 50%;
        }

        h6 {
          font-size: 14px;
          color: #071c0b;
          margin-top: 7px;
          font-weight: 600;
        }

        .status {
          position: absolute;
          right: 5px;
          bottom: 15px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }

        .status.online {
          background-color: #28a745; /* Green for online */
        }

        .status.offline {
          background-color: #6c757d; /* Gray for offline */
        }
      }
    }
  }

  .profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .name-img-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0px 8px;
      border-radius: 5px;
      background: #d9eddc;
      width: 70%;

      img {
        height: 25px;
        width: 25px;
        border-radius: 50%;
      }

      h6 {
        font-size: 14px;
        color: #071c0b;
        margin-top: 7px;
        font-weight: 600;
      }
    }

    button {
      width: 25%;
      background: #37f42e;
      padding: 0px 10px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      padding: 4px 0px;
    }
  }
}

@media (min-width: 768px) {
  .contacts-container-wrapper {
    width: 35vw;
  }
}

@media (min-width: 1024px) {
  .contacts-container-wrapper {
    width: 30vw;
  }
}

@media (min-width: 1280px) {
  .contacts-container-wrapper {
    width: 15vw;
  }
}
