.empty-chat-container-wrapper {
  width: 85%;
  background-color: #071c0b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all;
  transition-duration: 300ms;
}

.empty-chat-container-wrapper .welcome-wrapper h3 {
  color: #fff;
  font-weight: 600;
}

.empty-chat-container-wrapper .welcome-wrapper h3 span {
  color: #37f42e;
}

/* Media Queries */
@media (max-width: 680px) {
  .empty-chat-container-wrapper .welcome-wrapper h3 {
    font-size: 18px;
  }
}
@media (max-width: 490px) {
  .empty-chat-container-wrapper .welcome-wrapper h3 {
    font-size: 14px;
  }
}
@media (max-width: 390px) {
  .empty-chat-container-wrapper .welcome-wrapper h3 {
    font-size: 12px;
  }
}
