.profile-current-task-wrapper {
  margin: 30px 0px;
  .employee-card {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    i {
      background: rgb(7, 28, 11);
      background: linear-gradient(
        90deg,
        rgba(7, 28, 11, 1) 0%,
        rgba(32, 134, 55, 1) 100%
      );
      color: #fff;

      font-size: 20px;
      border-radius: 10px;
      padding: 10px 13px;
      margin-right: 10px;
    }
    h6 {
      font-size: 18px;
      font-weight: 600;
      margin: 8px 0px;
    }
  }
  .profile-content-wrapper {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;

    .user-img {
      img {
        border-radius: 10px;
        width: 100%;
      }
    }

    .user-info {
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 18px;
        font-weight: 600;
        color: #0a1c0a;
        margin-bottom: 15px;
        i {
          background: rgb(7, 28, 11);
          background: linear-gradient(
            90deg,
            rgba(7, 28, 11, 1) 0%,
            rgba(32, 134, 55, 1) 100%
          );
          color: #fff;
          border-radius: 10px;
          padding: 10px 13px;
          margin-right: 10px;
        }
      }
    }
  }
}
