@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

$primary: #071c0b;
$secondary: #0ad028;

html,
body {
  font-family: "Montserrat", sans-serif;
}
//Login-Register
.login-register {
  height: 100vh;
  width: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1139%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M-110.84 -33.16 a77.68 77.68 0 1 0 155.36 0 a77.68 77.68 0 1 0 -155.36 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-88.91 -55.1 a33.81 33.81 0 1 0 67.62 0 a33.81 33.81 0 1 0 -67.62 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-86.6 -57.4 a29.2 29.2 0 1 0 58.4 0 a29.2 29.2 0 1 0 -58.4 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1463.01 96.99 a337.98 337.98 0 1 0 675.96 0 a337.98 337.98 0 1 0 -675.96 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1530.38 29.61 a203.23 203.23 0 1 0 406.46 0 a203.23 203.23 0 1 0 -406.46 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1569.56 -9.55 a124.89 124.89 0 1 0 249.78 0 a124.89 124.89 0 1 0 -249.78 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-174.56 894.56 a205.12 205.12 0 1 0 410.24 0 a205.12 205.12 0 1 0 -410.24 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-154.92 874.92 a165.84 165.84 0 1 0 331.68 0 a165.84 165.84 0 1 0 -331.68 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-96.51 816.51 a49.02 49.02 0 1 0 98.04 0 a49.02 49.02 0 1 0 -98.04 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1612.3 811.7 a39.4 39.4 0 1 0 78.8 0 a39.4 39.4 0 1 0 -78.8 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1627.72 796.28 a8.56 8.56 0 1 0 17.12 0 a8.56 8.56 0 1 0 -17.12 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1558.59 865.42 a146.83 146.83 0 1 0 293.66 0 a146.83 146.83 0 1 0 -293.66 0z' fill='rgba(20%2c 87%2c 37%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1139'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-regsiter-content-wrapper {
    margin: 0;
    padding: 0;
    background-image: url("../src/assets/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    .login-regsiter-right-content {
      background: #fff;
      padding: 30px;
      border-radius: 10px;
      input {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background: #ebebeb;
        &:focus {
          outline: 0;
          border: none;
        }
      }
      h4 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .input-wrapper {
        position: relative;
        i {
          position: absolute;
          top: 12px;
          right: 10px;
          color: #145725;
          font-size: 20px;
        }
      }

      .login-register-btn {
        background: #145725;
        color: #fff;
        width: 140px;
        border: none;
        padding: 10px 15px;
        margin-bottom: 20px;
        border-radius: 10px;
        transition: 0.3s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        &:hover {
          background: #073a13;
        }

        i {
          transition: 0.3s;
          background: #fff;
          color: #205722;
          padding: 5px 7px;
          border-radius: 5px;
        }
      }
      .login-register-navigation {
        a {
          color: #145725;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
    .login-regsiter-left-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        color: #fff;
        font-size: 60px;
        font-weight: 800;
        line-height: 1.3;
        letter-spacing: 0px;
      }
    }
  }
}

.login-regsiter-right-content label {
  display: block;
}
.gender-selection {
  width: 100%;
  padding: 14px 10px;
  background: #ebebeb;
  border-radius: 10px;
  border: none;
}
.hide-error-message {
  display: none;
}
.error-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.error-message span {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 600;
}

.error-message i {
  color: red;
  font-size: 12px;
  cursor: pointer;
}
//Login - regsiter

//Dashboard
.dashboard {
  overflow-x: hidden;
}
//Sidebar
.sidebar-collapse {
  z-index: 99999;
  transition: all 0.5s ease-in;
  margin-left: -230px;
  top: 0;
  height: 100vh;
  position: fixed;
  left: 0;
  width: 300px;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  background: rgb(7, 28, 11);
  background: linear-gradient(
    180deg,
    rgba(7, 28, 11, 1) 0%,
    rgba(32, 134, 55, 1) 100%
  );
  hr {
    height: 1px;
    color: #fff;
  }

  .heading-wrapper {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-weight: 700;
      color: #fff;
    }
    button {
      background: $primary;
      color: $secondary;
      padding: 5px 10px;
      border: 1px solid $secondary;
      border-radius: 10px;
      box-shadow: 3px 3px 0 #0ad028;
      margin-bottom: 10px;

      i {
      }
    }
  }
  .side-links {
    ul {
      li {
        list-style: none;
        margin: 10px 0px;
        i {
          color: #fff;
          margin-right: 15px;
          width: 20px;
        }

        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
  .logout-btn {
    background: $primary;
    color: $secondary;
    padding: 5px 10px;
    border: 1px solid $secondary;
    border-radius: 10px;
    box-shadow: -3px 3px 0 #0ad028;
    margin-bottom: 10px;
    margin-left: 32px;
  }
}
.sidebar {
  transition: all 0.5s ease-in-out;
  // display: none;
  z-index: 99999;
  top: 0;
  height: 100vh;
  background-color: #0f1c94;
  position: fixed;
  left: 0;
  width: 300px;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  background: rgb(7, 28, 11);
  background: linear-gradient(
    180deg,
    rgba(7, 28, 11, 1) 0%,
    rgba(32, 134, 55, 1) 100%
  );
  hr {
    height: 1px;
    color: #fff;
  }
  .heading-wrapper {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-weight: 700;
      color: #fff;
    }
    button {
      background: $primary;
      color: $secondary;
      padding: 5px 10px;
      border: 1px solid $secondary;
      border-radius: 10px;
      box-shadow: 3px 3px 0 #0ad028;
      margin-bottom: 10px;
    }
  }
  .side-links {
    ul {
      li {
        list-style: none;
        margin: 20px 0px;
        i {
          color: #fff;
          margin-right: 15px;
          width: 20px;
        }

        a {
          text-decoration: none;
          color: #fff;
          border-bottom: 2px solid transparent;
          transition: 0.3s;
          &:hover {
            border-bottom: 2px solid #0ad028;
            padding: 0px 5px;
          }
        }
      }
    }
  }
  .logout-btn {
    background: $primary;
    color: $secondary;
    padding: 5px 10px;
    border: 1px solid $secondary;
    border-radius: 10px;
    box-shadow: -3px 3px 0 #0ad028;
    margin-bottom: 10px;
    margin-left: 32px;
    font-weight: 600;
  }
}

.toggle-btn {
  position: absolute;
  right: 18px;
  top: 50%;
  background: aqua;
}

//Wrapper - Table
.content-wrapper {
  margin: 0px 15px;
  .heading {
    background: rgb(7, 28, 11);
    margin-bottom: 30px;
    background: linear-gradient(
      90deg,
      rgba(7, 28, 11, 1) 0%,
      rgba(32, 134, 55, 1) 100%
    );
    color: #fff;
    padding: 14px 15px 5px;
    margin-top: 20px;
    border-radius: 10px;
    h2 {
      font-size: 24px;
      font-weight: 600;
    }
  }
  .table-modify {
    background: #e3fae9;
    border-radius: 10px;

    .table-responsive {
      overflow-y: hidden;
    }
    .employee-img {
      width: 50px;
      border-radius: 10px;
    }
    .task,
    .description {
      width: 300px;
    }
    .update-status select {
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
    }
    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
      border-width: 0;
    }
    th {
      font-size: 14px;
      white-space: nowrap;
    }
    td {
      font-size: 12px;
      font-weight: 600;
      text-transform: capitalize;
      .update-btn {
        margin-right: 5px;
        border: none;
        background: green;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
      }

      .delete-btn {
        border: none;
        background: red;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
      }
    }
  }
}

.profile-select h4 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
}

.profile-select select {
  font-size: 14px;
  padding: 5px 10px;
  background: #ebebeb;
  border-radius: 5px;
  outline: none;
  border: none;
}

//Add work status
.add-form {
  input,
  select {
    width: 100%;
    font-size: 14px;
    border: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 15px 20px;
    &:focus {
      outline: none;
      border: none;
    }
  }
  textarea {
    width: 100%;
    font-size: 14px;
    border: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 15px 20px;
    height: 300px;
    &:focus {
      outline: none;
      border: none;
    }
  }
  label {
    font-size: 14px;
    margin: 20px 10px 10px 0px;
    font-weight: 600;
    &:focus {
      outline: none;
      border: none;
    }
  }
  .submit-btn {
    background: $primary;
    color: $secondary;
    padding: 10px 20px;
    border: 1px solid $secondary;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 3px 3px 0 #0ad028;
    transition: 0.3s;
    margin: 20px 10px 10px 0px;
    &:hover {
      box-shadow: none;
    }
  }
}

//Profile
.profile-current-task-wrapper {
  margin: 30px 0px;
  .attendence.employee-card {
    background: #d8f3dc;
  }

  .leave-apply.employee-card {
    background: #ecf39e;
  }

  .late-coming.employee-card {
    background: #bbdefb;
  }

  .absent.employee-card {
    background: #f4acb7;
  }
  .employee-card {
    border-radius: 10px;
    padding: 20px;

    i {
      background: rgb(7, 28, 11);
      background: linear-gradient(
        90deg,
        rgba(7, 28, 11, 1) 0%,
        rgba(32, 134, 55, 1) 100%
      );
      color: #fff;

      font-size: 20px;
      border-radius: 10px;
      padding: 10px 13px;
      margin-right: 10px;
    }
    h6 {
      font-size: 22px;
      font-weight: 700;
      margin: 8px 0px;
    }
  }
  .profile-content-wrapper {
    background: #e9ecef;
    border-radius: 10px;

    .user-img {
      img {
        border-radius: 10px;
        width: 100%;
      }
    }

    .user-info {
      height: 100%;
      justify-content: center;
      align-items: center;
      position: relative;
      display: flex;
      .update-area {
        position: absolute;
        top: 15px;
        right: 15px;

        button {
          background: rgb(7, 28, 11);
          background: linear-gradient(
            90deg,
            rgba(7, 28, 11, 1) 0%,
            rgba(32, 134, 55, 1) 100%
          );
          color: #fff;
          border-radius: 10px;
          border: none;
          padding: 10px 13px;
          margin-right: 10px;
        }
      }
      h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 14px;
        font-weight: 600;
        color: #0a1c0a;
        margin-bottom: 15px;
        i {
          background: rgb(7, 28, 11);
          background: linear-gradient(
            90deg,
            rgba(7, 28, 11, 1) 0%,
            rgba(32, 134, 55, 1) 100%
          );
          color: #fff;
          border-radius: 10px;
          padding: 10px 13px;
          margin-right: 10px;
        }
      }
    }
  }
}

.apply-attendence-wrapper {
  height: 100%;
  background: #4e7b8961;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 10px;
  img {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  h6 {
    font-weight: 600;
  }
  label {
    font-weight: 600;
  }
  input,
  select {
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
  }
  button.attendence-submit-btn {
    background: green;
    color: #fff;
    margin-top: 10px;
    border: none;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
//Total hours
.working-hours {
  text-align: end;
}
.working-hours h6,
.export-data h6 {
  color: #071c0b;
  font-size: 16px;
  font-weight: 600;
}

.working-hours h6 span {
  color: #1f8436;
  font-size: 24px;
  background: center;
  font-weight: 800;
}

//Export
.export-btn {
  background: $primary;
  color: $secondary;
  padding: 5px 10px;
  border: 1px solid $secondary;
  border-radius: 10px;
  box-shadow: -3px 3px 0 #0ad028;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
}
//Date-range-picker
.rdrCalendarWrapper {
  color: #000000;
  font-size: 12px;
  display: none;
}
.rdrCalendarWrapper {
  display: none !important;
}
.rdrInputRanges {
  display: none;
}

.rdrStaticRange {
  border: 0;
  cursor: pointer;
  display: block;
  outline: 0;
  padding: 0;
  background: #fff;
  border-radius: 10px;
  margin: 0px 10px 9px 0px;
}
.rdrStaticRang:hover {
  background: #fff;
}
.rdrDefinedRangesWrapper {
  font-size: 12px;
  width: 100%;
  margin-bottom: 10px;
}
.rdrDateRangePickerWrapper {
  width: 100%;
}

.rdrStaticRangeLabel {
  font-size: 11px;
  font-weight: 600;
}
.rdrDefinedRangesWrapper {
  border: none;
}
span.rdrStaticRangeLabel {
  border-radius: 10px;
  background: #ecf39e;
  white-space: nowrap;
}
.show-all-task-btn {
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  background-color: #ecf39e;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 5px;
  &:hover {
    background: #eff2f7;
  }
}

//Topbar
.topbar {
  display: none;
  background: linear-gradient(90deg, rgb(7, 28, 11) 0%, rgb(32, 134, 55) 100%);
}
.topbar ul li {
  color: #fff;
  list-style: none;
  padding: 5px 00px;
}

.topbar ul li i {
  width: 20px;
}

.topbar ul {
  margin-left: -30px;
  margin-top: 20px;
}

.topbar ul li a {
  text-decoration: none;
  margin-left: 6px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}
.topbar .navbar-toggler {
  background: #fff;
  padding: 5px 0px 0px 0px;
  margin: 0;
}

.topbar .navbar-toggler i {
  font-size: 24px;
}
.topbar .logout-btn {
  background: $primary;
  color: $secondary;
  padding: 5px 10px;
  border: 1px solid $secondary;
  border-radius: 10px;
  box-shadow: -3px 3px 0 #0ad028;
  margin-bottom: 10px;
  font-weight: 600;
}

//Loader
.loading-area {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-btn.status {
  margin-left: 5px;
}
//Send Email
.send-email-form {
  .send-email-btn {
    background: $primary;
    color: $secondary;
    padding: 5px 10px;
    border: 1px solid $secondary;
    border-radius: 10px;
    box-shadow: 3px 3px 0 #0ad028;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
  }
  label {
    width: 100%;
    margin-bottom: 20px;
    font-weight: 600;
  }
  input,
  textarea {
    width: 100%;
    font-size: 14px;
    border: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px 20px;
    &:focus {
      outline: none;
      border: none;
    }
  }
}

//Full calender
.calender-wrapper {
  .fc-event-time {
    display: none;
  }
  .fc-today-button.fc-button.fc-button-primary,
  .fc-button-active {
    background: #208536 !important;
    opacity: 1;
    text-transform: capitalize;
    font-weight: 700;
  }
  .fc .fc-daygrid-day.fc-day-today {
    background: #071c0b;
  }
  .fc-h-event {
    background: linear-gradient(
      90deg,
      rgb(7, 28, 11) 0%,
      rgb(32, 134, 55) 100%
    );
    border: none;
    display: block;
  }
  .fc .fc-col-header-cell-cushion {
    color: #208436;
    text-decoration: none;
  }
  .fc .fc-daygrid-day-number {
    color: #000;
    text-decoration: none;
  }
  .fc .fc-toolbar-title {
    font-size: 1.5 rem;
    font-weight: 600;
    margin: 0px;
  }
}

.add-new-event-btn {
  text-decoration: none;
  padding: 20px 0px;
  color: #145725;
  font-size: 14px;
  font-weight: 600;
}

.message-area {
  height: 70vh;
  background: #d8f3dc;
  border-radius: 10px;
}

//Common
.add-btn {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  &:hover {
    color: #0ad028;
  }
}

//Date picker
.react-datepicker {
  font-family: "Montserrat", sans-serif !important;
  font-size: 0.8rem;
  background-color: #e5fae8;
  color: #328331 !important;
  border: 1px solid #328431 !important;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: #338532 !important;
  color: #fff;
}
//Dashboard

//Responsive
@media screen and (max-width: 1024px) {
  .login-register
    .login-regsiter-content-wrapper
    .login-regsiter-left-content
    h2 {
    color: #fff;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 0px;
  }
  .login-regsiter-left-content img {
    width: 300px;
    margin-left: -30px;
  }
  .login-register .login-regsiter-content-wrapper .login-regsiter-left-content {
    padding: 30px 0px;
  }
}
@media screen and (max-width: 768px) {
  .dashboard {
    overflow-x: auto;
  }
  .login-register {
    padding: 10px 0px;
    height: 100%;
  }
  .login-wrapper-main {
    height: 100vh;
  }
  .employee-vailability {
    margin-top: 20px;
  }
  .content-wrapper .table-modify td .update-btn {
    font-size: 10px;
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 575px) {
  .sidebar {
    display: none;
  }
  .fc .fc-toolbar-title {
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
  }
  .topbar {
    display: block;
    padding: 15px;
  }
  .working-hours {
    margin-top: 20px;
    text-align: left;
  }
  .content-wrapper .table-modify {
    margin: 20px 0px;
  }
  .profile-current-task-wrapper .profile-content-wrapper .user-info {
    padding: 20px;
  }
  .export-data {
    margin-top: 20px;
  }
}
//Scrollbar
::-webkit-scrollbar {
  width: 5px;
  height: 3px;

  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(#fff, #09270f);
  background: linear-gradient(#fff, #09270f);
  border-radius: 20px;
}
