button.leave-accept-btn {
  border: none;
  background: green;
  padding: 4px 10px;
  color: #fff;
  border-radius: 3px;
  margin-right: 5px;
  font-weight: 600;
}
button.leave-reject-btn {
  border: none;
  background: red;
  padding: 4px 10px;
  color: #fff;
  border-radius: 3px;
  margin-right: 5px;
  font-weight: 600;
}
.tab {
  overflow: hidden;
  border-radius: 10px;
  background-color: #d7eddd;
  margin-bottom: 10px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  color: #222;
  background-color: #37f42e;
}
